.fact {
  display: contents;
}
@container panel (min-width: 48rem) {
  :global([data-display="compact"][data-shallow="true"]) .fact > * {
    margin: 0;
  }
}
@container panel (min-width: 12rem) {
  :global([data-display="compact"][data-shallow="true"]) .fact > * {
    margin: 0;
  }
}
